@font-face {
  font-family: 'Inconsolata', monospace;
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');
  }

@font-face {
  font-family: 'PT Mono', monospace;
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap');
  }
