@import '../../../style/style.scss';

.log-container{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.09);
    padding: 16px;
    border-radius: 5px;
    margin: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: $_font-size-small;
    &-level{
        border-radius: 12px;
        font-size: 12px;
        padding: 4px;
        width: 48px;
        text-align: center;
        text-transform: lowercase;
        &.ERROR{
            background-color: $_red;
            color: $_dark-red;
            box-shadow: 0px 0px 10px $_shaddow-red;
        }
        &.INFO{
            background-color: $_yellow;
            color: $_dark-yellow;
            box-shadow: 0px 0px 10px $_shaddow-yellow;
        }
        &.DEBUG{
            background-color: $_purple-2;
            color: $_dark-purple-2;
            box-shadow: 0px 0px 10px $_shadow-purple-2;
        }
    }
    &-infos{
        text-align: center;
    }
}