.content{

    width: 384px;
    margin: auto;
  
  }
  
  
  .container-principal{
    margin: 0;
    margin-top: 180px;
    display: flex;
  }
  
  
  .container-principal{
    margin-top: 216px;
  }
  
  