a {
  color: hsla(291, 64%, 42%, 0.89);
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}

a:hover{
  color: #9c27b0;
}

.notClickable a {
  pointer-events: none;
  color: #8b8b8b;
  text-decoration: none;
  font-weight: 600;
}