@import '../../../style/style.scss';

.input{
    height: 42px;
    padding: 16px;
    font-size: $_font-size-small;
    font-family: $_font-primary;
    color: $_text-color-input;
    
    &.--login{
        border-radius: $_radius;
        width: 100%;
        box-shadow: $_shadow;
        margin-bottom: 4px;
        &:focus{
            box-shadow: $_shadow-purple-2;
        }
    }  
    &.--search{
        border: none !important;
        border-radius: 21px;
        width: 100%;
        box-shadow: $_shadow;
        padding-left: 40px;
        &::placeholder{
            opacity: .8;
        }
    }   
    &.--checkbox{
        width: 21px;
    }
}