/* css input */

.form-control{
    display: block;
    width: 100%;
    height: 52px; /*calc(1.5em + .75rem + 2px);*/
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000d6 !important;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    border: 1px solid #00000091;
    border-radius: .25rem;
    box-sizing: border-box;
    margin: 0 0 12px 0;
}

.form-control:focus{
    border: 1px solid #9c27b0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 0 1px #9c27b0;
}

